DATABASE_URL=postgresql://neondb_owner:npg_3LF4NwEOdSgz@ep-dark-river-a10d8ct9-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SUPABASE_URL=https://ebaxviopobxgrfplxdaz.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImViYXh2aW9wb2J4Z3JmcGx4ZGF6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQ3MzA2NSwiZXhwIjoyMDg5MDQ5MDY1fQ.9GAFh04tnyc3HsLkaxKgKipDqN5Dui3yjGq60Zb91Ak
SUPABASE_BUCKET=portfolio
SECRET_KEY=ilyas_portfolio_secret_xiva_2024_fullstack
